extend base.pug

block title 
    title= title 

block style 
    style 
        include ../static/css/home.css

block content 
    section#introSection
        h1 Welcome to Varun Music Academy
        p experience the magic of music
    section#aboutSection 
        h2 About Us
        div.cards
            div#teaching.card
                h4 Teaching 
                div.content
                    div.img
                        img(src="../static/img/teacher.jpg", alt="Music")
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi natus reiciendis eveniet repellendus. Ab alias soluta     blanditiis incidunt temporibus mollitia inventore nesciunt? Magni veritatis saepe distinctio adipisci porro provident   aliquam vero, soluta aut sapiente.
            div#perfection.card
                h4 Perfection 
                div.content
                    div.img
                        img(src="../static/img/perfect.jpg", alt="Music")
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur! Minima nobis doloremque atque  pariatur maxime reiciendis. Laborum optio nam quaerat, eius earum doloribus esse consectetur doloremque error quas.
            div#care.card 
                h4 Care 
                div.content
                    div.img
                        img(src="../static/img/care.jpg", alt="Music")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel alias unde rem placeat assumenda nulla quidem aut    deserunt provident nisi quaerat laborum, earum dolor incidunt? Placeat ipsam facere unde, ipsa impedit fuga nesciunt   accusamus?
    section#sponsorsSection
        h3 Our Sponsors
        div.sponsors
            img(src="../static/img/apple.png", alt="Sponsors" class = "spImg")
            img(src="../static/img/fblogo.png", alt="Sponsors" class = "spImg")
            img(src="../static/img/instalogo.png", alt="Sponsors" class = "spImg")
            img(src="../static/img/twitter.png", alt="Sponsors" class = "spImg")

block scripts
    script(src = "../static/js/index.js")